/*
base.css: 사이트 전체에 적용할 기본 설정값으로 기본 글꼴, 배경 등의 스타일로 사이트 전체에 통일성을 부여
*/
body { 
	color:#000; font-size:13px; line-height:1.2;
	font-family:"돋움", Dotum, "굴림", Gulim, Verdana, sans-serif;
}

a:link { color:#4f4f4f; text-decoration:none; }
a:visited { color:#8a2e91; text-decoration:none; }
a:hover { color:#f00; text-decoration:underline; }
a:focus { color:#f00; text-decoration:underline; }
a:active { color:#f00; text-decoration:none; }

#infoMenu { 
			text-align:right; margin-right:77px; 
			font-size:0.9em; padding:8px 0 7px 0;
}

#infoMenu li { 
			display:inline; padding:0 10px 0 10px;			
}

#infoMenu li:first-child { background:none;}

#infoMenu li a {color:#676767;} 
#infoMenu li a:hover, #infoMenu li a:focus { color:#000;}

.logo {position:absolute; top:15px; left:30px;}

#navigation {
	width:901px; height: 71px; margin-top : 10px; margin-left:225px;
	background:url("../header/sitemenu_901_71_bg.png") no-repeat;
}
#navi{display:inline;float:left;margin:22px 30px 20px 90px;}
#naviSub{
	display:none;	width:601px; height: 40px; margin-top : -17px; margin-right: 70px;float:right;
	background:url("../header/header_submenu_601_40_bg.png") no-repeat;}
#naviSub li{position: relative;top: 13px;display:inline;margin:0 10px 0 30px;}