/*
main.css: 메인 페이지 전용 스타일 - contents 영역에 대한 스타일.
*/
#header, #contents, #slogan, .footerInner {width:1180px}
/*메인 페이지에서는 서브페이지와 다른 넓이를 사용함.*/
#pdsList{display:none;}

#infoMenu{margin-right:25px;}

#visual{margin: 0 auto; width:824px; height:107px;}
/*전체 넓이가 변경되었으므로 infoMenu의 오른쪽 여백도 변경.*/
